




h1 {
    color:rgba(255, 251, 0, 0.993);
    font-size: 50px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius:23px;
    width:30%;
    position: relative;
    left:35%;
    background-image: repeating-linear-gradient(to bottom right, rgb(0,0,255),rgb(0,139,255), rgb(0,180,255) )
 }

.p2 {
    color: rgba(0, 255, 234, 0.993);
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:rgba(0, 140, 255, 0.938);
    text-align: center;
    width: 100%;
    
}

.p3 {
    color:rgb(151, 250, 253);
    background-image: radial-gradient(rgb(96, 170, 255),rgb(27, 87, 255));
    width:400px;
    border-radius: 1em;
    text-align: center;
    text-transform: Uppercase;
    font-family: Arial, Helvetica, sans-serif;
    
}

.subscribe-button {
    cursor: pointer;    
    font-family: 'Bebas Neue',sans-serif;
    font-size: 14px;
    text-align: center;
    background-color: red;
    color: white;
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 15px;
    
}

.subscribe-button:hover {
    opacity: 0.8;
}

.subscribe-button:active {
    background-color:#ffffff;
    color: red;
}

html {
    background-image:linear-gradient(to bottom right,rgb(79, 0, 206)20%,rgb(31, 19, 141),rgb(28, 80, 156));
}

.click-me {
    cursor: pointer;
    font-family: 'Bebas Neue',sans-serif;
    font-size: 14px;
    text-align: center;
    background-color:rgb(0, 0, 0);
    border: 2px;
    width: 100px;
    height: 50px;
    color: white;
    border-radius: 17px;
    position: relative;
    left: 200px;
    bottom: 455px;
}

.click-me:hover {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZFhGnSYzoiOqKXj3q9-9lh_J5tu1r9DP5kA&s');
    background-position:100%;
    background-size: 100%;
    color: black;
}

.hr {

}
